// .menu {
//     width: 200px;
//     height: 100vh;
//     background: linear-gradient(rgba(7, 7, 139, 0.8), rgba(42, 33, 3, 0.8));
//     display: flex;
//     flex-direction: column;
//     justify-content: space-evenly;
//     // justify-content: space-around;
//     align-items: center;
//     box-shadow: 4px 0px 4px #625c5c;

//     a {
//         width: 100%;
//         color: #fff;
//         text-align: center;
//         border-top: 1px solid #625c5c;
//         border-bottom: 1px solid #625c5c;
//         padding: 8px 0px;
//     }

//     a:hover {
//         background: linear-gradient(rgba(7, 7, 139, 0.8), rgba(42, 33, 3, 0.8));
//         transition: 0.3s;
//     }

//     .active {
//         box-shadow: 0 2px 2px #625c5c, 0 -2px 2px #625c5c;
//         background: linear-gradient(rgba(7, 7, 139, 0.8), rgba(42, 33, 3, 0.8));
//     }
// }