* {
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}


.app {
    background: #1e1e1e;
    /* background: linear-gradient(rgba(7, 7, 139, 0.8), rgba(42, 33, 3, 0.8)); */
}

/* .app>div {
    display: flex;
} */